version: '3.8'
services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    # image: frontend
    # container_name: frontend
    env_file:
      - ./frontend/.env.production
    ports:
      - "3000:3000"
    # volumes:
    #   - ./frontend:/app
    #   - /app/node_modules
    # working_dir: /app
    # command: npm run dev
    depends_on:
      - backend

  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
    # image: backend
    # container_name: backend
    env_file:
      - ./server/.env.production
    ports:
      - "3001:3001"
    # volumes:
    #   - ./server:/server
    #   - /server/node_modules
    # working_dir: /server
    # command: npm run dev
    depends_on:
      - mysql
        # condition: service_healthy

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: